/**
* ! CHANGING DEFAULT STYLE 
*/

:root {
    --main-color: #212529;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
}

a {
    color: #fff;
}



body {
    background-color: #eee;
}

/**
* ! NAVBAR STYLE 
*/

.navbar {
    background-color: var(--main-color);
    color: #fff;
    padding: 2rem 3.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.navbar h2 {
    font-size: 1.8rem;
}

.navbar .cart {
    position: relative;
    background-color: #fff;
    color: var(--main-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.navbar .cart-amount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 1rem;
    background-color: #f00;
    color: #fff;
    padding: 3px 5px;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 3px;
}

/**
* ! PRODUCTS  STYLE 
*/

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
    justify-content: center;
}


.products-container .item {
    border: 2px solid var(--main-color);
    border-radius: 4px;
}

.products-container .item img {
    width: 100%;
}

.products-container .item .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.products-container .item .details .price-quantity {
    display: flex;
    justify-content: space-between;

}

.products-container .item .details .price-quantity .buttons {
    display: flex;
    font-size: 16px;
    gap: 10px;
    align-items: center;
}

@media (max-width: 1000px) {
    .products-container {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .products-container {
        grid-template-columns: repeat(1, 223px);
    }
}



/**
* ! SOME STYLE ABOUT LABEL AND LINKS IN CART PAGE 
*/

.totalBill {
    text-align: center;
    margin-bottom: 20px;
}

.home-btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red;
}

/**
* ! SOME STYLE FOR SHOPPING CART
*/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
}

/**
* ! SOME STYLE FOR SHOPPING CART Items
*/


.shopping-cart .cart-item {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}

.shopping-cart .cart-item .details {
    padding: 6px;
}

.shopping-cart .cart-item .details .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.shopping-cart .cart-item .details .title-price-x .title-price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.shopping-cart .cart-item .details .title-price-x .title-price .cart-item-price {
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    padding: 6px;
}


.shopping-cart .cart-item .details .cart-buttons .buttons {
    display: flex;
    padding: 6px;
    gap: 10px;
}